[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/technomancy/emacs-starter-kit.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/javascript-lint/plugin"]
	path = vim/bundle/javascript-lint/plugin
	url = https://github.com/joestelmach/javaScriptLint.vim.git
